<div id="<%= dom_id todo_item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= todo_item.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Todo list:</strong>
    <%= todo_item.todo_list_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= todo_item.status %>
  </p>
</div>
