<% content_for :title, "Editing todo item" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing to-do item</h1>
  <turbo-frame id="<%= dom_id(@todo_item) %>">
  <%= render "form", todo_item: @todo_item %>
  </turbo-frame>
  <%= link_to "Back to to-dos", todo_list_path(@todo_list), class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
