<% content_for :title, "Editing todo item" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing todo item</h1>

  <%= render "form", todo_item: @todo_item %>

  <%= link_to "Show this todo item", @todo_item, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to todo items", todo_items_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
