<% content_for :title, "New todo list" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New To-Do List</h1>

  <%= render "form", todo_list: @todo_list %>

  <%= link_to "Back", todo_lists_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
